.jon1{
 margin-left:7%;
 margin-top:3%;
}
.jon2{
margin-right:5%;
margin-top:-3%;
}

.reck{
margin-left:8%;
}

.reck1{
margin-left:35%;
margin-top:-14%;
}

.ross{
margin-top:10%;
background:#A32911;
height:5%;
}
.ross1{
margin-top:10%;
margin-left:20%;
background:#A32911;
height:5%;
}

.arya{
margin-top:2%;
}
